body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin:0; padding: 0;
}
.head{ width:20%; margin:0 auto;text-align:right;margin-left: 450px;float:left;margin-top: 50px;}
header{height: 180px; background-color: white; border: 1px solid #253342;
}
.Topbar{
  background-color: white;
  margin: 0 auto;
  width : 90%;
}
h1{  color:gray;line-height: 50px;  }
.login form{width:20%;  margin-top:50px;float:left;margin-left: 300px;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
